.drawer {
  z-index: 999;
}

.minicartIconContainer {
  color: #fff;
}

.closeIconContainer::before {
  content: "My cart";
  font-size: 24px;
  line-height: 32px;
  font-family: Roboto;
  color: #000;
  font-weight: 500;
}

.closeIconButton {
  margin-left: auto;
  padding: 12px 0px;
}

.closeIconContainer {
  background: #f3f9ff;
  align-items: center;
  padding: 0px 24px;
}

.minicartTitle {
  display: none;
  opacity: 0;
}

.openIconContainer {
  padding: 0;
}

.openIconContainer :global(.vtex-button) {
  border: none;
  border-radius: 0;
  outline: none;
}

.minicartQuantityBadge {
  background-color: #ff5f00;
  font-weight: 700;
}

.minicartCheckoutButton {
  padding: 12px 16px 16px;
  margin: 0;
}

.minicartCheckoutButton :global(.vtex-button) {
  height: 52px;
  background: #ff5f00;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  outline: none;
}

@media (max-width: 64rem) {
  .openIconContainer {
    padding: 0;
  }

  .drawer {
    width: 100% !important;
  }
}
